*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

#maindiv{
    width:100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1500772579163-e0dd8b0efc48?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8d2VhdGhlcixjbG91ZHx8fHx8fDE2MzA2NjU3MzQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    background-repeat: repeat;
    background-size: cover;
}