*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.Main{
   
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#maindiv{
    width:100vw;
    height: 100vh;
    /* background-image: url("https://images.unsplash.com/photo-1500772579163-e0dd8b0efc48?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8d2VhdGhlcixjbG91ZHx8fHx8fDE2MzA2NjU3MzQ&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
    background-repeat: repeat;
    background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#innerdiv{
    width:70vw;
    height: 80vh;
    background-image: url("https://source.unsplash.com/960x750/?weather");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    box-shadow: -20px -7px 133px 29px rgba(0,0,0,0.51);
    -webkit-box-shadow: -20px -7px 133px 29px rgba(0,0,0,0.51);
    -moz-box-shadow: -20px -7px 133px 29px rgba(0,0,0,0.51);

}

#innerdiv1{
    width:70%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: 15px;

}

#innerdiv2{
    width:70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 15px;

}

.heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5.5rem;
    font-weight: bolder;
    text-align: center;
    color: hotpink;
    text-shadow: 1px 1px black;
}

.input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 2rem;
    width: 80%;
    border:none;
    border-radius: 10rem;
}

#cityname{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    text-align: center;
    color: hotpink;
    text-shadow: 1px 1px black;
    border-bottom: 2px solid hotpink;

}

.button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    width:10rem;
    border:none;
    background-color:greenyellow;
    border-radius: 3rem;
}

.button:hover{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    width:10rem;
    border:none;
    background-color: hotpink;
    border-radius: 3rem;
    color: white;
}

.text{
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.videoTag{
    object-fit: cover;
    height: 100%;
    width: 100%;
  
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
}




